<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="activityPointMapper">
 	
 	<resultMap type="activityPoint" id="activityPoint">
 		<result property="activityPointNo" column="activity_pointNo" jdbcType="NUMERIC" />
		<result property="treeNo" column="tree_no" jdbcType="NUMERIC"/>
		<result property="point" column="point" jdbcType="NUMERIC" />
		<result property="activityDate" column="activity_date" jdbcType="DATE" />
		<result property="activityType" column="activity_type" jdbcType="CHAR"/>
		<result property="targetNo" column="target_no" jdbcType="NUMERIC" />
 	</resultMap>
	
	
	<!-- SQL : INSERT -->
	
	<insert id="addActivityPoint" parameterType="activityPoint">
		INSERT
		INTO activity_point(ACTIVITY_POINT_NO, TREE_NO, POINT, ACTIVITY_DATE, ACTIVITY_TYPE, TARGET_NO)
		VALUES (seq_activity_point_no.nextval, #{treeNo}, #{point}, SYSDATE, #{activityType}, #{targetNo})
	
	</insert>
	
	<!--활동횟수 조회   -->
	<select id="getActivityCount" parameterType="activityPoint" resultType="int">
		SELECT COUNT(activity_type)
		FROM activity_point
		WHERE tree_no = #{treeNo}
		AND activity_type = #{activityType}
		AND TO_CHAR(activity_date, 'YYYY-MM-DD')  = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="getActivityTotalPoint" parameterType="int" resultType="int">
		SELECT SUM(point)
		FROM activity_point
		WHERE tree_no = #{value}
	</select>

	 
</mapper>