<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eventMapper">
 	
 	
	<resultMap id="eventSelectMap" type="event">
		<result property="id" 			column="event_no" 			jdbcType="NUMERIC"/>
		<result property="treeNo" 			column="tree_no" 			jdbcType="NUMERIC"/>
		<result property="title" 		column="event_title" 			jdbcType="VARCHAR" />
		<result property="start" 	column="event_start_date" 		jdbcType="DATE" />
		<result property="end" 				column="event_end_date" 					jdbcType="DATE"  />
		<result property="dDay" 				column="d_day_state" 					jdbcType="CHAR" />
		<result property="eventDetail" 		column="event_detail" 			jdbcType="VARCHAR" />
		<result property="freq" 			column="freq"                   jdbcType="VARCHAR"/>
		<result property="byDay" 				column="by_day" 					jdbcType="VARCHAR" />
		<result property="dow"				column="dow"					jdbcType="VARCHAR"	/>   
		<result property="dom"				column="dom"					jdbcType="VARCHAR"	/>   
		<result property="allDay"				column="all_day"					typeHandler="com.wwft.common.mybatis.typehandler.StringValueBooleanTypeHandler"/>   
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addEvent"		parameterType="event" >
	 	INSERT
		INTO calendar(event_no, tree_no,event_title, event_start_date, event_end_date, d_day_state,event_detail,freq, by_day,  dow, dom,all_day)
		VALUES	 (seq_event_no.nextval,	#{treeNo}, #{title:VARCHAR}, to_date(#{start}, 'YYYY-MM-DD hh24:mi:ss') 
										,to_date(#{end}, 'YYYY-MM-DD hh24:mi:ss'), #{dDay:CHAR}, #{eventDetail:VARCHAR},#{freq:VARCHAR},#{byDay:VARCHAR},  #{dow:VARCHAR}, #{dom:VARCHAR},#{allDay} )
	 </insert>
	 
	 <select id="getEventList" parameterType="int" resultMap="eventSelectMap">
	 	SELECT * FROM calendar
	 	WHERE tree_no = #{value}
	 
	 </select>
	 
	 <select id="findEvent" parameterType="int" resultMap="eventSelectMap" >
	 SELECT * FROM calendar 
	 WHERE event_no = #{value}
	 
	 </select>
	 
	 <delete id="removeEvent" parameterType="int">
	 DELETE FROM calendar WHERE event_no = #{value}
	 
	 </delete>
	 
	 <update id="updateEvent" parameterType="event">
	  UPDATE calendar 
	  <set>
	  	<if test="title !=null">
	  		event_title = #{title:VARCHAR}, 
	  	</if>
	  	<if test="start != null">
	  		event_start_date = to_date(#{start}, 'YYYY-MM-DD hh24:mi:ss'),
	  	</if>
	  	<if test="end != null">
	  	  	event_end_date = to_date(#{end}, 'YYYY-MM-DD hh24:mi:ss'),
	  	</if>
	  	<if test="dDay !=null">
	  		d_day_state = #{dDay:CHAR},
	  	</if>
	  		event_detail = #{eventDetail:VARCHAR},
	  	<if test="freq !=null">
	  		freq = #{freq:VARCHAR},
	  	</if>
	  	<if test="byDay !=null">
	  		by_day =#{byDay:VARCHAR},
	  	</if>
	  	<if test="dow !=null">
	  		dow = #{dow:VARCHAR},
	  	</if>
	  	<if test="dom !=null">
	  		dom = #{dom:VARCHAR},
	  	</if>
	  	<if test="allDay !=null">
	  		all_day = #{allDay,typeHandler=com.wwft.common.mybatis.typehandler.StringValueBooleanTypeHandler}
	  	</if>
	  	</set>
	  	WHERE event_no = #{id}
	 </update>
	 
	 
</mapper>