<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ImageAndLikeMapper">
 	
 	
	<resultMap id="imageAndLikeSelectMap" type="com.wwft.service.domain.ImageAndLike">
		<result property="imageAndLikeNo" 			column="image_and_like_no" 			jdbcType="NUMERIC"/>
		<result property="imageName" 		column="image_name" 			jdbcType="VARCHAR" />
		<result property="postNo" 				column="post_no" 					jdbcType="NUMERIC" />
		<result property="likeWriter" 	column="like_writer" 		jdbcType="VARCHAR" />
		<result property="imageAndLikeState" 				column="image_and_like_state" 					jdbcType="CHAR" />
		
	
		
		
		
	</resultMap>
	
	
	<insert 	id="addImageAndLike"		parameterType="com.wwft.service.domain.ImageAndLike" >
		INSERT
	 	INTO image_and_like( image_and_like_no, image_name ,post_no,like_writer, image_and_like_state,like_state)
	 	VALUES	 (SEQ_IMAGE_AND_LIKE_NO.NEXTVAL , #{imageName:VARCHAR} , #{postNo} , #{likeWriter:VARCHAR} , #{imageAndLikeState} ,#{likeState:CHAR})
	 </insert>
	 
	<select id="getLikeTotalCount" parameterType="int" resultMap="imageAndLikeSelectMap">
		SELECT COUNT(*)
		FROM image_and_like
		WHERE image_and_like_state ='1' AND post_No =#{postNo}
	
	</select>
	 
	  <delete id="removeImageAndLike" parameterType="int">
	 	DELETE
	 	FROM image_and_like
	 	WHERE image_And_Like_no =#{imageAndLikeNo}
	 
	 </delete> 
	 
	 
	 
</mapper>