<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMessageMapper">

	<resultMap type="noticeMessage" id="noticeMessageSelectMap">
	
		<result property="noticeMessageNo" 	column="notice_message_no" jdbcType="NUMERIC" />
		<result property="sender" 	column="sender" jdbcType="VARCHAR"/>
		<result property="receiver" 	column="receiver" jdbcType="VARCHAR"/>
		<result property="noticeMessageState"	column="notice_message_state" jdbcType="CHAR" />
		<result property="noticeMessageType" 	column="notice_message_type" jdbcType="CHAR" />
		<result property="noticeMessageDetail"		column="notice_message_detail" jdbcType="VARCHAR" />
		<result property="postNo" 	column="post_no" jdbcType="NUMERIC"/>
		<result property="postImage" column="post_image" jdbcType="VARCHAR"/>
		<result property="treeNo" 	column="tree_no" jdbcType="NUMERIC"/>
		<result property="forestNo" 	column="forest_no" jdbcType="NUMERIC"/>
		<result property="noticeMessageDate" 	column="notice_reg_date" jdbcType="DATE" />
		<result property="profileNo" column="profile_no" jdbcType="NUMERIC" />
	</resultMap>
 	
 	
 	
 	
 	
 	
 	
 	<!-- SQL : INSERT sender이름으로 state 2 =  초대중-->
 	
	<insert 	id="inviteTree"		parameterType="java.util.HashMap" >
	 	INSERT
		INTO NOTICE_MESSAGE(NOTICE_MESSAGE_NO, SENDER,FOREST_NO,NOTICE_REG_DATE,NOTICE_MESSAGE_STATE,
					NOTICE_MESSAGE_TYPE,NOTICE_MESSAGE_DETAIL,POST_NO,RECEIVER,TREE_NO) 
		VALUES (
			 SEQ_NOTICE_MESSAGE_NO.nextval,#{forestNo},#{forestNo},SYSDATE,'2','0','숲에서 초대합니다',null,
			#{treeNo},#{treeNo})
	 </insert>
	 
	 
	 <insert id="sendNoticeMessage" parameterType="noticeMessage">
	 	INSERT 
	 	INTO notice_message(notice_message_no, sender, receiver, 
	 	notice_message_type, notice_message_detail, post_no, tree_no, forest_no, notice_reg_date,post_image,profile_no )
	 	VALUES(seq_notice_message_no.nextval,#{sender},#{receiver}, #{noticeMessageType},
	 	#{noticeMessageDetail}, #{postNo}, #{treeNo}, #{forestNo}, SYSDATE,#{postImage},#{profileNo})
	 	
	 
	 </insert>
	 <!--  
	 <select id="getTreeNoticeMessage" parameterType="int" resultMap="noticeMessageSelectMap">
	 	SELECT notice_message_no, sender, notice_message_state, notice_message_type, notice_message_detail, tree_no, forest_no, notice_reg_date
	 	FROM notice_message
	 	WHERE tree_no = #{value}
	 	AND notice_message_type !=3
	 	ORDER BY NOTICE_REG_DATE DESC
	 </select>-->
	 
	  <select id="getTreeNoticeMessage" parameterType="HashMap" resultMap="noticeMessageSelectMap">
	 SELECT *
	 FROM  ( SELECT ROWNUM AS row_seq, m.*
			FROM( SELECT m1.*
			FROM NOTICE_MESSAGE m1
			WHERE TREE_NO =#{treeNo}
			AND notice_message_type !=3
			AND profile_no IN (#{profileNo},0)
			ORDER BY m1.NOTICE_REG_DATE DESC) m
		WHERE ROWNUM  &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 	  <select id="getForestNoticeMessage" parameterType="HashMap" resultMap="noticeMessageSelectMap">
	 SELECT *
	 FROM  ( SELECT ROWNUM AS row_seq, m.*
			FROM( SELECT m1.*
			FROM NOTICE_MESSAGE m1
			WHERE forest_no =#{forestNo}
			AND notice_message_type =3
			ORDER BY m1.NOTICE_REG_DATE DESC) m
		WHERE ROWNUM  &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 <!-- 
	 SELECT ROWNUM, m.*
FROM( SELECT m1.*
			FROM NOTICE_MESSAGE m1
			WHERE TREE_NO =1
			ORDER BY m1.NOTICE_REG_DATE DESC) m
			 -->
	 
	 <delete id="removeNoticeMessage" parameterType="int">
	 	DELETE 
		FROM notice_message
		WHERE notice_message_no = #{value}
	 </delete>
	 
	 <!-- 
	 <select id="getTreeNoticeMessage" parameterType="int" resultType="int">
	 	SELECT COUNT(notice_message_no)
		FROM NOTICE_MESSAGE
		FROM notice_message
	 	WHERE tree_no = #{value}
	 	AND notice_message_type !=3
	 
	 </select>
	  -->
	 
	  <select id="getTreeNoticeMessageStateCount" parameterType="hashMap" resultType="int">
	 	SELECT COUNT(notice_message_state)
		FROM notice_message
	 	WHERE tree_no = #{treeNo}
	 	AND notice_message_type != '3'
	 	AND NOTICE_MESSAGE_STATE = '0'
	 	AND profile_no IN (#{profileNo},0)
	 </select>
	 
	   <select id="getForestNoticeMessageStateCount" parameterType="int" resultType="int">
	 	SELECT COUNT(notice_message_state)
		FROM notice_message
	 	WHERE forest_no = #{value}
	 	AND notice_message_type = '3'
	 	AND NOTICE_MESSAGE_STATE = '0'
	 </select>
	 
	 <update id="updateTreeNoticeMessageState" parameterType="hashMap">
	 	UPDATE notice_message 
		SET notice_message_state = '1'
		WHERE tree_no =#{treeNo}
		AND notice_message_type !='3'
		AND profile_no IN(#{profileNo},0)
	 </update>
	 
	 	 <update id="updateForestNoticeMessageState" parameterType="int">
	 	UPDATE notice_message 
		SET notice_message_state = '1'
		WHERE forest_no =#{value}
		AND notice_message_type ='3'
	 </update>
	 
	
 	
	
</mapper>