<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TreeMapper">
 	
	<resultMap id="treeSelectMap" type="com.wwft.service.domain.Tree">
		<result property="treeNo" 			column="tree_no" 			jdbcType="NUMERIC"/>
		<result property="userId"	column="user_id" 		jdbcType="VARCHAR" />
		<result property="treeName" 	column="tree_name" 		jdbcType="VARCHAR" />
		<result property="seedNo" 				column="seed_no" 					jdbcType="VARCHAR" />
		<result property="treeImageName" 				column="tree_image_name" 					jdbcType="VARCHAR" />
		<result property="countryId" 			column="country_id" 		jdbcType="VARCHAR" />
		<result property="familyMotto" 				column="family_motto" 					jdbcType="VARCHAR" />
		<result property="activityTotalPoint" 				column="activity_total_point" 					jdbcType="NUMERIC" />
	</resultMap>
	
	
	  <!-- SQL : SELECT ONE -->
	 <select 	id="getTree"	parameterType="int"	resultMap="treeSelectMap">
		SELECT
		tree_no , user_id , tree_name , seed_no ,  tree_image_name ,  country_id , family_motto , activity_total_point 		
		FROM tree
		WHERE tree_no = #{value}
	 </select>
	

	<!-- SQL :  INSERT -->
	<insert 	id="addFamilyMotto"		parameterType="tree" >
	 INSERT
		INTO tree( tree_no , user_id , tree_name , seed_no , tree_image_name, country_id, family_motto, activity_total_point) 
		VALUES	 (seq_tree_no.nextval, #{userId:VARCHAR} , #{treeName:VARCHAR} , #{seedNo:VARCHAR} , #{treeImageName:VARCHAR} , 
							#{countryId:VARCHAR} , #{familyMotto:VARCHAR} , #{activityTotalPoint:NUMERIC})			
	 </insert>
	 
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateFamilyMotto"	parameterType="tree" >
	   	UPDATE tree
	   	<set>
	   	 family_motto = #{familyMotto}
	   	</set>
	   	WHERE tree_no = #{value}
	 </update>
	 
	 
	 <!-- SQL : UPDATE -->
	 <update id="removeFamilyMotto" parameterType="tree">
	  	UPDATE tree 
	  	<set>
	  	family_motto = NULL
	  	</set>
	  	WHERE tree_no = #{value}
	 </update> 	 
		 
	
	 
</mapper>