.header{
   grid-area: header;
   display: grid;
   height:400px;
		background-image: url("/resources/images/tree/box.jpg");
	background-position: center;
	background-size: cover;
   

 }
  
 .leftCol{
   grid-area: leftCol;
   
 }
 .rightCol{
   grid-area: rightCol;

 }
  
  .midTop{
   grid-area: midTop;

  
 }
  
 .midBottom{
   grid-area: midBottom;
  
  
 }
  
 .footer{
   grid-area: footer;
}

h1{
 font-family: 'Anton', sans-serif;
 
 }
 
 h3{
font-family: 'Fjalla One', sans-serif;
 }
 
 h5{
font-family: 'Do Hyeon', sans-serif; 
}

 
 button.btn2{
font-family: 'Do Hyeon', sans-serif; 
}

h4{
font-family: 'Gothic A1', sans-serif;
}	
	
       	