html,

body {

    margin:0;

    padding:0;

    height:	60px;
    
    background-image:url("/resources/images/tree/tree-247122_960.jpg");
    
     background-size: cover;

}

#wrapper {

	position:relative;

    min-height: 80%;

}

#header {

	height:70px;

 
    
    

}

#container {

    padding:20px;

}

#footer {

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;
  	
	background-color: black;/* 까만색(0,0,0) */
	
    opacity:70%; /* 80% 투명도 */
  	
}
   

h4, h6{
		font-family: 'Black And White Picture', sans-serif;
		

	}

h5{
		font-family: 'Black Han Sans', sans-serif;
	
	}




button.button-add{
outline-style: solid;
	
	outline-color: dark; 
	
	outline-width: thin; 

}





tr.tb{
opacity:70%; /* 80% 투명도 */
background-color: black;/* 까만색(0,0,0) */

}

 
h5.style {
 color: silver;
 text-decoration: none;
 transition: 1s;
}
h5.style:hover { text-shadow: 0 0 .1em, 0 0 .3em; }

 




